<%- include('partials/header'); %> <%- include('partials/navbar'); %>
<div class="container box">
  <div class="columns">
    <div class="column is-5">
      <img src="http://source.unsplash.com/random/550x800" style="width:100%" />
      <input class="input" type="file" style="width:100%;" />
      <button class="button is-dark" style="width: 100%;">
        Changer D'image
      </button>
    </div>
    <div class="column is-7">
    <%- include('partials/informations'); %>
  </div>
  </div>

  </div>  
</div>
<%- include('partials/footer'); %>
